*{margin:0; padding:0; text-decoration: none; font-family:Pompiere-Regular; letter-spacing: 2px;}

@font-face{
    src:url(fonts/Pompiere-Regular.ttf);
    font-family:Pompiere-Regular;
    }


html {scroll-behavior: smooth;}

header{width:100%; height:3.2cm; background-image:linear-gradient(white, whitesmoke, whitesmoke whitesmoke, white); background-color: whitesmoke; border-bottom:1px solid black;  position:fixed;border:1px solid beige;}

main{background-color:whitesmoke; height:97vh; width:100%; overflow-y:visible;}

footer{margin-top:-0.2vh; width:100%; height:0.5cm; background-image:linear-gradient(black, black, rgb(10, 0, 0), rgb(12, 11, 11), rgb(0, 0, 0), black); position:fixed; border:1px solid beige; }

#checkbox_shortcut_menu{display:none;}

#site_logo{margin-left: 2cm; display:none;}

a.active{font-size:30px; font-weight:bolder; color:wheat; transition: 5s; text-transform: uppercase;}

.site_logo_design{display:inline-block; color:wheat;margin-top:0.7cm;}

.nav_zero .un_order_list_zero_nav .list_part_zero {display:inline-block; margin-top:0.7cm;}

.link_items{color:black; padding: 0.2cm;}

.shortcut_menus{color:black;font-size: 30px; float:right; padding:0.5cm; margin-right:0.5cm; cursor:pointer; display:none;}

#checkbox_shortcut_menu-close{color:white;}

.site_logo_design-footer{display:none}

#site_logo1{display:none;}

.news_short_content {padding:2%; margin:2%; text-align:left; justify-content:center;}

.news_feeds_updates{display:flex; margin: ; padding:; flex-wrap:wrap;}

.news_feeds_updates0{background-color:tomato; width:300px; height:100%; margin:1%;}

.news_feeds_updates1{background-color:turquoise; width:300px; height:100%; margin:1%;}

.news_feeds_updates2{background-color:yellow; width:300px; height:100%; margin:1%;}

.news_feeds_updates3{background-color:blueviolet; width:300px; height:100%; margin:1%;}

.news_feeds_updates4{background-color:tomato; width:300px; height:100%; margin:1%;}

.news_feeds_updates5{background-color:turquoise; width:300px; height:100%; margin:1%;} 

.news_feeds_updates6{background-color:yellow; width:300px; height:100%; margin:1%;}

.news_feeds_updates7{background-color:blueviolet; width:300px; height:100%; margin:1%;}

.news_feeds_updates8{background-color:yellow; width:300px; height:100%; margin:1%;}

.news_feeds_updates9{background-color:blueviolet; width:300px; height:100%; margin:1%;}

.link_to_more_feeds{animation-name:link_to_more_feeds; animation-timing-function:ease; animation-duration:1s; animation-iteration-count: infinite;}

@keyframes link_to_more_feeds {
    10%{color:red;}
    30%{color:yellow;}
    50%{color:green;}
    70%{color:red;}
    90%{color:yellow;}
    100%{color:green;}
}



.back_to_top {background: black; position:fixed; bottom:16px; right:32px; width:50px; height:50px; border-radius: 50%; display: flex; align-items: center; justify-content:center; font-size:32px; color:#1f1f1f; text-decoration:none; opacity:0; pointer-events: none; transition:all .3s; animation:toTop 3s ease infinite;}

.back_to_top.active {opacity:1; pointer-events: auto; bottom: 32px;}

@keyframes toTop {
    10%{color:red;}
    30%{color:yellow;}
    50%{color:green;}
    70%{color:red;}
    90%{color:yellow;}
    100%{color:green;}
}


.news_feeds_image img {width:100%; height:200px;}



.options_video_clips video {width:100%; height:50px; display:none;}

.options_line_decoration{display:none;}

























/*Meida queries at max-width 700px*/
@media (max-width:700px) {

    header{height:2cm;}

    .link_items{color:whitesmoke;}
    
    .options_video_clips video {width:200px; height:50px; display:flex; float:right; margin: 0; padding: 0; background-size: cover; background-repeat: no-repeat;}

    .options_line_decoration {display:inline-flex; border:2px solid whitesmoke; width:100%}

    #site_logo{margin-left: 2cm; display:inline-block;position:absolute}

    a.active{font-size:default; font-weight:normal; color:whitesmoke; transition: none; text-transform: none;}

    ul {background:black;height:100vh;position:fixed;left:-100%; transition: all .5s;width:100%; overflow-y:scroll}

    .nav_zero .un_order_list_zero_nav .list_part_zero {display:block; }

    .shortcut_menus{display:block;}

    #checkbox_shortcut_menu:checked ~ ul {left:0;}

    #site_logo1{margin-left: 3cm; display:block;position:absolute; margin-top: -55px; font-size:40px; color:wheat;}

    .news_feeds_updates{flex-direction:column;}

    .news_feeds_updates0, .news_feeds_updates1, .news_feeds_updates2, .news_feeds_updates3, .news_feeds_updates4, .news_feeds_updates5, .news_feeds_updates6, .news_feeds_updates7, .news_feeds_updates8, .news_feeds_updates9{width:97%; margin-bottom:10px;}

  
}
